@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
  
}

.bg-info{
    /* background-image: linear-gradient(to right top, #e8c531, #ffb565, #ffaf9e, #ffb8cf, #ffc8ee)!important; */
    background-image: linear-gradient(to right top, #013f5e, #4e5782, #8d6f9c, #c989ab, #fda9b2)!important;
}

.results{
    background-color: aliceblue;
}
.pet_intro:hover{
    background-color: black;
}

/* .description{
    color: purple;
} */
textarea{
    color:blue;
}

img{
    width: 90%;

}